html {
box-sizing: border-box;
}

*, *:before, *:after {
 box-sizing: inherit;
}

body{
    margin: 0;
    text-align: center;
}

.calculator-bg{
    background-color: lightgray;
    margin: 40px auto;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 500px;
    display: flex;
}

.calculator-screen {
    background-color: whitesmoke;
    width: 90%;
    height: 90%;
}

.screen h1, h2{
    margin: auto;
    margin-right: 8px;
    text-align: right;
}

.screen h1{
    font-size: 48px;
}

.buttons-grid{
    border: 1px solid lightgray;
    display: inline-grid;
    align-content: space-between;
    grid-template-columns: auto auto auto auto;

}

button{
    padding: 22px 30px 24px 30px;
    font-size: 20px;
}

.operation-button{
    color: blue;
}

#button0{
    grid-column: span 2;
}