html {
    box-sizing: border-box;
}

@font-face {
    font-family: "Calculator" ;
    src: url(Font/digital-7.ttf);
    src: url(Font/digital-7\ \(mono\).ttf);
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Calculator';
}

body{
    margin: 0;
    text-align: center;
    background-color: #83d4d8;
}

.calculator-bg{
    background-color: lightgray;
    margin: 48px auto;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 500px;
    display: flex;
}

.calculator-screen {
    background-color: whitesmoke;
    width: 90%;
    height: 90%;
}

.screen h1, h2{
    margin: auto;
    margin-right: 8px;
    text-align: right;
}

.screen h1{
    font-size: 48px;
}

.buttons-grid{
    border: 1px solid lightgray;
    display: inline-grid;
    align-content: space-between;
    grid-template-columns: auto auto auto auto;

}

button{
    padding: 25px 30px 25px 30px;
    font-size: 20px;
    font-weight: bold;
}

.number-button{
    background-color: whitesmoke;
    border: 1px solid gray;
}

.operation-button{
    color: blue;
    padding: 0;
    font-size: 36px;
}

#button0{
    grid-column: span 2;
}